/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
pact/plugin
pact/standalone
pact/verifier
pacts/
logs/**
getpact.docker-compose.yml
*.so
*.dylib
*.dll
*.a
/ffi/*.h
/ffi/*.md
.DS_Store
.rspec_status
Gemfile.lock
*.tar.gz
*.gz
*.gem