name: Build

on:
  push:
  workflow_dispatch:

env:
  PGUSER: postgres
  PGPASSWORD: postgres
  PGDATABASE: postgres
  PGHOST: localhost
  PACT_BROKER_BASE_URL: http://0.0.0.0:8000
  PACT_BROKER_USERNAME: pact_workshop
  PACT_BROKER_PASSWORD: pact_workshop

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
      - name: "Installing Pact CLI Tools"
        run: |
          echo "Installing Pact CLI Tools"
          echo "=> downloading Pact CLI Tools"
          os='linux-x86_64'
          tag=$(basename $(curl -fs -o/dev/null -w %{redirect_url} https://github.com/pact-foundation/pact-ruby-standalone/releases/latest))
          filename="pact-${tag#v}-${os}.tar.gz"
          standalone_download_path=https://github.com/pact-foundation/pact-ruby-standalone/releases/download/${tag}/${filename}
          echo "from ${standalone_download_path}"
          curl -LO ${standalone_download_path}
          tar xzf ${filename}
          rm ${filename}
          echo "PATH=${PATH}:${PWD}/pact/bin/" >> $GITHUB_ENV
      - run: pact help
      - name: Start OSS Pact Broker
        run: docker-compose up -d pact-broker
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0.4'
      - run: ./script/download-libs.sh
      - run: ls pact/ffi
      - run: ls pact/ffi/linuxaarch64
      - run: ls pact/ffi/osxaarch64
      - run: gem update bundler
      - run: bundle install
      - run: rake spec
      - run: pact-broker publish pacts --auto-detect-version-properties --consumer-app-version $(git rev-parse HEAD)
        working-directory: message_pact_ruby/spec
      - name: Stop OSS Pact Broker
        if: always()
        run: docker-compose down